body {
    font-family: Arial, sans-serif;
    background-color: #e7b3b3;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #460de2;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  .container {
    padding: 20px;
  }
  
  .weather-info {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(183, 250, 162);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .details {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    margin-top: 10px;
  }
  
  button {
    margin-left: 10px;
    padding: 0.5em 1em;
    font-size: 1em;
  }
  
  footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #0630f0;
    color: white;
    text-align: center;
  }
  
  
  .forecast {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(19, 23, 223, 0.1);
  }
  
  .forecast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .forecast-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  

